<body>
  <div class="container">
    <div class="container">
      <div class="alert alert-dark">
        <h1>{{title}}</h1>
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-tabs mb-2 me-2" href="/encrypt">Verschlüsseln</a>
            </li>
            <li class="nav-item">
              <a class="nav-tabs mb-2 me-2" href="/decrypt">Entschlüsseln</a>
            </li>
          </ul>
        </nav>
        <router-outlet></router-outlet>
      </div>
     </div>
   </div>
</body>